# Nuxt / Nitro
.nuxt
.output
.nitro
.data
.cache
dist

# Node
node_modules

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Test / coverage
coverage

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
